<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- <script >
    function validarForm() {
    var x = document.forms["form"]["posX"].value;
    var y = document.forms["form"]["posY"].value;
    if ( x>=4 || x<0 )
      {
        alert("Pos X no puede ser mayor a 3");
        return false;
      }
      if ( y>=4 || y<0)
        {
          alert("Pos Y no puede ser mayor a 3");
          return false;
        }
        if(x=="" )
        {
          alert("Pos X no puede estar vacio");
          return false;
        }
        if(y=="" )
        {
          alert("Pos Y no puede estar vacio");
          return false;
        }



  }
</script> -->
<style>
  td{
     width: 80;
     height: 100;
  }
</style>
</head>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">DotsAndBoxes</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">SCORES</a></li>
        <li><a href="#">TOPS</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container" >
<br>

  <div class="row">


    <div class="col-md-6">
      <div class="col-md-4">
        <div class="alert alert-success" role="alert">
          <p class="alert-link text-center">Turno: <%= @turno.nombre_jugador %></p>
        </div>
      </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <% for fila in 0..@filas-1%>
                <th><%=fila%></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @matriz.each do |fila| %>
              <tr>
                <th height ="100" width ="30"> </th>
                <%fila.each do |col|%>
                  <% if col.estado_casilla == "false false false false " %>
                    <td></td>
                  <% end %>

                  <% if col.estado_casilla == "false false false true " %>
                    <td style="border-right: solid"> </td>
                  <% end %>

                  <% if col.estado_casilla == "false false true false " %>
                    <td style="border-left: solid"> </td>
                  <% end %>

                  <% if col.estado_casilla == "false false true true " %>
                    <td style="border-right:solid; border-left:solid "> </td>
                  <% end %>

                  <% if col.estado_casilla == "false true false false " %>
                    <td style="border-bottom: solid"> </td>
                  <% end %>

                  <% if col.estado_casilla == "false true false true " %>
                    <td style="border-bottom:solid; border-right: solid"> </td>
                  <% end %>

                  <% if col.estado_casilla == "false true true false " %>
                    <td style="border-bottom:solid; border-left: solid"> </td>
                  <% end %>

                  <% if col.estado_casilla == "false true true true " %>
                    <td style="border-bottom:solid; border-left: solid; border-right: solid"> </td>
                  <% end %>

                  <% if col.estado_casilla == "true false false false " %>
                    <td style="border-top: solid"> </td>
                  <% end %>

                  <% if col.estado_casilla == "true false false true " %>
                    <td style="border-top:solid; border-right:solid "> </td>
                  <% end %>

                  <% if col.estado_casilla == "true false true false " %>
                    <td style="border-top:solid; border-left:solid "> </td>
                  <% end %>

                  <% if col.estado_casilla == "true false true true " %>
                    <td style="border-top:solid; border-right:solid; border-left:solid"> </td>
                  <% end %>

                  <% if col.estado_casilla == "true true false false " %>
                    <td style="border-top:solid; border-bottom:solid "> </td>
                  <% end %>

                  <% if col.estado_casilla == "true true false true " %>
                    <td style="border-top:solid;  border-bottom:solid; border-right:solid "> </td>
                  <% end %>

                  <% if col.estado_casilla == "true true true false " %>
                    <td style="border-top:solid;  border-bottom:solid; border-left:solid "> </td>
                  <% end %>

                <!--esta parte la tienen que modificar no muestra nada cuando la casilla esta llena-->
                  <% if col.estado_casilla == "true true true true " %>
                    <% if col.player == "jugador1" %>
                      <td style="border-top: solid; border-top: solid; border-bottom: solid; border-left: solid; border-right: solid;background-color: #445EFF"> </td>
                    <%end%>
                    <% if col.player == "jugador2" %>
                      <td style="border-top: solid; border-top: solid; border-bottom: solid; border-left: solid; border-right: solid;background-color: #C7201D"> </td>

                    <%end%>

                  <%end%>

                <%end%>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
    <div class="col-md-6">


      <div class="row">

        <div class="col-md-1"></div>
        <div class="col-xs-5">
           <h2> </h2>
           <button class="btn btn-primary btn-lg active" type="button">
            JUGADOR <span class="badge"> <%= @jugador1.puntaje %></span>
           </button>
        </div>
        <div class="col-xs-5">
          <h2></h2>
            <button class="btn btn-danger btn-lg active" type="button">
            JUGADOR <span class="badge"><%= @jugador2.puntaje %></span>
            </button>
        </div>
      </div>
      <br>
      <br>
      <br>

      <div class="row">

        <form method="post" action="/realizar_jugada" name="form" onsubmit="return validarForm()">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <div class="form-inline form-group-sm">
                <label for="posx">Pos X: </label>
                <input name="posX" type="text" class="form-control" placeholder="">
                  <label for="posy">Pos Y: </label>
                <input name="posY" type="text" class="form-control" placeholder="">
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
              <div class="btn-group btn-group-md">

                <input type="submit" name="opcion" value="Arriba" class="btn btn-primary"></input>
                <input type="submit" name="opcion" value="Abajo" class="btn btn-primary"></input>
                <input type="submit" name="opcion" value="Izquierda" class="btn btn-primary"></input>
                <input type="submit" name="opcion" value="Derecha" class="btn btn-primary"></input>
              </div>
              <br>
              <br>
              <div class="btn-group">
                <a href="/" class="btn btn-success" >Seleccionar Tamaño</a>
                <button type="submit" name="opcion" value="limpiar" class="btn btn-warning">Reiniciar Partida</button>
              </div>
            </div>
          </div>

        </form>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4"></div>
        <%if @tablero%>
        <div class="col-md-8">
        <div class="container">
          <h2>Fin del juego</h2>
          <!-- Trigger the modal with a button -->
          <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Ver Ganador</button>

          <!-- Modal -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Felicidades Ganaste!</h4>
                </div>
                <div class="modal-body">
                  <% if @jugador1.puntaje > @jugador2.puntaje%>
                    <h1>Ganador:   <%= @jugador1.nombre_jugador%> </h1>
                    <h3>Perdedor:   <%= @jugador2.nombre_jugador%></h3>
                      <%else%>
                      <h1>Ganador:   <%= @jugador2.nombre_jugador%> </h1>
                      <h3>Perdedor:   <%= @jugador1.nombre_jugador%></h3>

                    <% end %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">cerrar</button>
                </div>
              </div>

            </div>
          </div>

        </div>
        </div>
        <%end%>
      </div>

    </div>
  </div>

</div>

<div class="footer-bottom">
        <div class="container inverted">
            <p class="pull-left"> Copyright © DotsAndBoxes 2016. All right reserved. </p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                	<li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul>
            </div>
        </div>
</div>


</html>
